:javascript
  $(document).ready(function() {
    hide("Gene/protein targets (experimental)",".targets", "/cid/#{@cid}/targets/active");
    hide("Other active assays (experimental)",".active_assays", "/cid/#{@cid}/assays/active");
    hide("Gene/protein non-targets (experimental)",".nontargets", "/cid/#{@cid}/targets/inactive");
    hide("Other inactive assays (experimental)",".inactive_assays", "/cid/#{@cid}/assays/inactive");
    hide("Gene/protein targets (read across)",".predicted_targets", "/cid/#{@cid}/prediction/targets/active");
    hide("Other active assays (read across)",".predicted_active_assays", "/cid/#{@cid}/prediction/assays/active");
    hide("Gene/protein non-targets (read across)",".predicted_nontargets", "/cid/#{@cid}/prediction/targets/inactive");
    hide("Other inactive assays (read across)",".predicted_inactive_assays", "/cid/#{@cid}/prediction/assays/inactive");
    hide("Similar compounds",".neighbors", "/cid/#{@cid}/neighbors");
  });

%table
  %colgroup
    %col{:width => "25%"}
    %col{:width => "37%"}
    %col{:width => "37%"}
  %tr
    %td{:valign => "top"}
      %br
        = name(@cid)
        CID:
        = @cid
      %img{:src => image_uri(@cid)}
    %td{:valign => "top"}
      .targets
      .predicted_targets
      .nontargets
      .predicted_nontargets
    %td{:valign => "top"}
      .active_assays
      .predicted_active_assays
      .inactive_assays
      .predicted_inactive_assays

.neighbors
