:javascript
  $(document).ready(function() {
    /*/ prefetch predictions in order to fill cache in background
    $.ajax({ 
      url: "/cid/#{@compound.cid}/predicted_targets",
      cache: true,
      dataType: "html"
    });
    */
    hide("Measured gene/protein targets",".targets", "/cid/#{@compound.cid}/targets");
    hide("Other active assays",".active_assays", "/cid/#{@compound.cid}/other_active_assays");
    hide("Measured gene/protein non-targets",".nontargets", "/cid/#{@compound.cid}/nontargets");
    hide("Other inactive assays",".inactive_assays", "/cid/#{@compound.cid}/other_inactive_assays");
    hide("Read across gene/protein targets",".predicted_targets", "/cid/#{@compound.cid}/predicted_targets");
    hide("Other active read across assays",".predicted_active_assays", "/cid/#{@compound.cid}/other_predicted_active_assays");
    hide("Read across gene/protein non-targets",".predicted_nontargets", "/cid/#{@compound.cid}/predicted_nontargets");
    hide("Other inactive read across assays",".predicted_inactive_assays", "/cid/#{@compound.cid}/other_predicted_inactive_assays");
    hide("Similar compounds",".neighbors", "/cid/#{@compound.cid}/neighbors");
  });

%table
  %colgroup
    %col{:width => "25%"}
    %col{:width => "37%"}
    %col{:width => "37%"}
  %tr
    %td{:valign => "top"}
      %br= @compound.name
      %img{:src => @compound.image_uri}
    %td{:valign => "top"}
      .targets
      .predicted_targets
      .nontargets
      .predicted_nontargets
    %td{:valign => "top"}
      .active_assays
      .predicted_active_assays
      .inactive_assays
      .predicted_inactive_assays

.neighbors
