!!! 5
%script{:type => "text/javascript", :src  => "sorttable.js"}
%table{:class => "sortable"}
  %tr
    %th
      = @neighbors.query.to_name
      %br
        %img{:src => @neighbors.query.to_image_uri}
    %th Structure
    %th Properties
    %th Targets
    %th Assays
  - @neighbors.neighbors.each do |neighbor|
    - sim = neighbor.structure_similarity @neighbors.query
    %tr{:sorttable_customkey => sim}
      %td
        = neighbor.to_name
        %br
          %img{:src => neighbor.to_image_uri}
      %td
        = sim
      %td
        = neighbor.property_similarity @neighbors.query
      %td
        = neighbor.target_similarity @neighbors.query
      %td
        = neighbor.assay_similarity @neighbors.query
