%table
  %colgroup
    %col{:width => "25%"}
    %col{:width => "37%"}
    %col{:width => "37%"}
  - idx = 0
  - while idx < 10
    - neighbors(@cid).each do |n|
      - unless assays(n,"active").empty? and assays(n,"inactive").empty?
        %tr
          %td{:valign => "top"}
            %br
              = name n
              (
              = similarity(@cid,n).round(3)
              )
            %img{:src => image_uri(n)}
          %td{:valign => "top"}
            %p{:id => "targets#{n}"}
              :javascript
                hide("Measured gene/protein targets","#targets#{n}", "/cid/#{n}/targets/active");
            %p{:id => "nontargets#{n}"}
              :javascript
                hide("Measured gene/protein non-targets","#nontargets#{n}", "/cid/#{n}/targets/inactive");
          %td{:valign => "top"}
            %p{:id => "assays#{n}"}
              :javascript
                hide("Other active assays","#assays#{n}", "/cid/#{n}/assays/active");
            %p{:id => "inactive_assays#{n}"}
              :javascript
                hide("Other inactive assays","#inactive_assays#{n}", "/cid/#{n}/assays/inactive");
        
        - idx += 1
