%dl
  - @assays.sort{|a,b| [b["p_active"],b["p_inactive"]].max <=> [a["p_active"],a["p_inactive"]].max}.each do |assay|
    %dt= assay["Target Name"]
    %dd
      Target GeneID:
      = assay["Target GI"]
    %dd
      Assay ID:
      %a{:href => "http://pubchem.ncbi.nlm.nih.gov/assay/assay.cgi?aid=#{assay["AID"]}", :rel => "external"} #{assay["AID"]}
      :javascript
        $('A[rel="external"]').each(function(){
          $(this).attr('target', 'external');
        });
    %dd
      p_active:
      = assay["p_active"].to_f.round(3)
    %dd
      p_inactive:
      = assay["p_inactive"].to_f.round(3)
